body {
    align-items: center;
    text-align: center;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

.hidden {
    display: none; 
}

button, input {
    border: 1px solid black;
    border-radius: 5px;
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    padding: 5px;
}

button:hover, input:hover {
    background-color: black;
    color: white;
}

#loading, #weatherResult, #error {
    padding: 10px;
    margin-top: 10px;
}

.weatherCard {
    overflow: hidden;
    margin: 30px auto;                                                     
    align-items: center;
    width: 300px;
    min-height: 250px; 
    border: 1px solid black;
    border-radius: 20px;
}

.weatherCard p {
    padding-left: 20px;
    text-align: left;    
}

.weatherCard .header {
    color: white;
    background-color: black;
    padding: 10px 0;   
}

.weatherCard .header p {                                                                                                                       
    margin: 4px 0;                                                                               
    text-align: center;                                                                       
    padding-left: 0;                                                                                                                           
} 

.weatherCard .info {                                                                                                                           
    padding: 10px 0;                                                                                                                           
} 